body {
  margin: 0;
  font-family: 'Press Start 2P', sans-serif;
  background: #1c1c3c;
  color: #fff;
}

.logo-title {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
  font-family: 'Press Start 2P', sans-serif;
}

header {
  background: #00b7ff;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
}

header p {
  font-size: 1.
